<manifest package="tachiyomi.ui"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
      android:name="tachiyomi.ui.MainActivity"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustPan"
      android:configChanges="orientation|screenLayout|screenSize"
      android:theme="@style/Theme.App">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
